{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run-tests.cljk" ".cljs"
  "src/kotoba/verifier.cljk" ".cljc"
  "src/kotoba/verifier/conformance.cljk" ".cljc"
  "src/kotoba/verifier/signing.cljk" ".cljc"
  "test/kotoba/verifier_boot_scratch_test.cljk" ".clj"
  "test/kotoba/verifier_f64_boundary_test.cljk" ".cljc"
  "test/kotoba/verifier_firmware_store_test.cljk" ".clj"
  "test/kotoba/verifier_granted_region_test.cljk" ".clj"
  "test/kotoba/verifier_kir_agreement_test.cljk" ".clj"
  "test/kotoba/verifier_native_artifact_test.cljk" ".cljc"
  "test/kotoba/verifier_shift_literal_test.cljk" ".cljc"
  "test/kotoba/verifier_signing_parity_test.cljk" ".cljc"
  "test/kotoba/verifier_string_entry_test.cljk" ".clj"
  "test/kotoba/verifier_string_search_test.cljk" ".clj"
  "test/kotoba/verifier_test.cljk" ".clj"}}
